In [1]:
import numpy as np
import pandas as pd

In [11]:
ser= pd.Series([2, 4, 6, np.NaN, 4, 5, np.NaN])
ser #this will return a float series because nan is float

0    2.0
1    4.0
2    6.0
3    NaN
4    4.0
5    5.0
6    NaN
dtype: float64

In [4]:
#bool for nan value series
ser.isna() #return true for nan values
ser.notna() #return false for nan values

0     True
1     True
2     True
3    False
4     True
5     True
6    False
dtype: bool

In [10]:
#giving values to nan
#to make changes in same series use inplace= True
ser.fillna(7) #fill nan value with 7
ser.fillna(method="ffill") #fill nan value with upper value
ser.fillna(method= "bfill") #fill nan value with lower value

0    2.0
1    4.0
2    6.0
3    6.0
4    4.0
5    5.0
6    5.0
7    5.0
dtype: float64

In [12]:
#deleting nan value
ser.dropna()

0    2.0
1    4.0
2    6.0
4    4.0
5    5.0
dtype: float64