In [3]:
import numpy as np
import pandas as pd

In [4]:
#Dataframe of student names and marks
ls=["Miss Mikasa", "Mr. Eren", "Mr. Levi", "Miss Annie", "Mr. Armin"]
ls2=[90, 100, 99.9,95, 90]
st= pd.DataFrame({"Name":ls, "Marks":ls2}, index=np.arange(1,6))
st

          Name  Marks
1  Miss Mikasa   90.0
2     Mr. Eren  100.0
3     Mr. Levi   99.9
4   Miss Annie   95.0
5    Mr. Armin   90.0

In [11]:
#print the name females
bl= st.Name.str.startswith('Miss')
st.loc[bl, 'Name']

1    Miss Mikasa
4     Miss Annie
Name: Name, dtype: object

In [9]:
#count the number of males
st.Name.str.startswith("Mr.").sum()

3

In [12]:
#find average marks
st.Marks.mean()

94.97999999999999

In [14]:
#average marks of female
bl= st.Name.str.startswith('Miss')
st.loc[bl,'Marks'].mean()

92.5

In [6]:
mx=st.Marks==st.Marks.max()
st.loc[mx, 'Name']

2    Mr. Eren
Name: Name, dtype: object