In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
ser1 = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
ser2 = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
ser3 = [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
data = pd.DataFrame({'C1': ser1, 'C2': ser2, 'C3': ser3}, index= list("ABCDEFGHIJ"))
data

    C1  C2  C3
A   10   2   1
B   20   4   3
C   30   6   5
D   40   8   7
E   50  10   9
F   60  12  11
G   70  14  13
H   80  16  15
I   90  18  17
J  100  20  19

In [3]:
# random 70% of dataframe
major = data.sample(frac = .7)
major

   C1  C2  C3
C  30   6   5
H  80  16  15
B  20   4   3
I  90  18  17
D  40   8   7
A  10   2   1
G  70  14  13

In [4]:
major.index

Index(['C', 'H', 'B', 'I', 'D', 'A', 'G'], dtype='object')

In [5]:
data.drop(major.index, axis = 0)

    C1  C2  C3
E   50  10   9
F   60  12  11
J  100  20  19