In [1]:
import numpy as np
import pandas as pd

In [30]:
#series with list
ser= pd.Series([1, 2, 3, 4, 5, 6, 7], index=['a', 'b', 'c', 'd', 'e', 'f', 'g'], name= "My_Series")
ser

a    1
b    2
c    3
d    4
e    5
f    6
g    7
Name: My_Series, dtype: int64

In [7]:
#series with array
ser1= pd.Series(np.array([1, 2, 3, 4]))
ser1

0    1
1    2
2    3
3    4
dtype: int32

In [8]:
#series with dictionary
dc= {'a':1, 'b':2, 'c':3}
ser2= pd.Series(dc)
ser2

a    1
b    2
c    3
dtype: int64

In [20]:
#series with scalar value
ser3= pd.Series(3, index=['x', 'y', 'z'])
ser3

x    3
y    3
z    3
dtype: int64

In [65]:
#attributes of Series
print(ser)
print(ser.size) #number of rows
print(ser.index) #value of index
print(ser.dtype) #datatype
print(ser.name)  #name of series
print(ser['a'])  #value at specified index
print(ser.a)   #this can be used when index is single valued
print(ser.shape)

a    20
b     2
c     0
d    12
e    30
f    33
g     7
h    10
Name: My_Series, dtype: int64
8
Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'], dtype='object')
int64
My_Series
20
20
(8,)

In [27]:
#to access single Element from series with index
#at
ser.at['a']

1

In [28]:
#to access single element through numeric index
#iat
ser.iat[1]

2

In [39]:
#to access portion of series
#loc
ser.loc[['b', 'd', 'a', 'f']] #the elements are accessed in same order as defined 
ser.loc['b':'d'] #using slice, here last element is included
ser.loc[[False, True, False, False, False, True, True]] #give True values

b    2
f    6
g    7
Name: My_Series, dtype: int64

In [46]:
#to access portion of series with numeric index
#iloc
ser.iloc[[1, 4, 6, 2]]  #using list of numeric index
ser.iloc[2:5] #using slice, last element is included
ser.iloc[[False, True, False, False, False, True, True]] #give True values

b    2
f    6
g    7
Name: My_Series, dtype: int64

In [51]:
#operations on series
#these operations will give new series
#we can use +, -, /, //, *, **, >, <, <=, >=, !=, ==
ser+2 
ser-2
ser/2
ser//2
ser<3 #boolean series

a     True
b     True
c    False
d    False
e    False
f    False
g    False
Name: My_Series, dtype: bool

In [56]:
#changing value of series
ser.at['a']= 20
ser

a    20
b     2
c     3
d     4
e     5
f     6
g     7
Name: My_Series, dtype: int64

In [58]:
#add new value in series
ser.at['h']= 10
ser

a    20
b     2
c     3
d     4
e     5
f     6
g     7
h    10
Name: My_Series, dtype: int64

In [61]:
#changing value of a slice
ser.loc['c':'f']= 6
ser.loc['c':'f']= [0, 12, 30, 33]
ser

a    20
b     2
c     0
d    12
e    30
f    33
g     7
h    10
Name: My_Series, dtype: int64

In [77]:
#NaN value
#NaN is a float value
ser2= pd.Series([5, 8, np.NaN, 9, np.NaN, 3, 8, 9])
ser2

0    5.0
1    8.0
2    NaN
3    9.0
4    NaN
5    3.0
6    8.0
7    9.0
dtype: float64

In [76]:
#count
ser2.count() #give count of non nan values

3

In [78]:
#unique
ser2.unique() #give non repeated array

array([ 5.,  8., nan,  9.,  3.])

In [79]:
#nunique
ser2.nunique() #count of unique and non NAn values

4

In [74]:
#apply
ser1= pd.Series([2, 5, 7, 9])
ser1.apply(lambda x: x**2) #return new series

0     4
1    25
2    49
3    81
dtype: int64

In [ ]:
#