In [2]:
import numpy as np
import pandas as pd

In [3]:
ser= pd.Series([2, 3, 5, 7, 5, 8, 3, 9, 8], index= list("abcdefghi"))
ser

a    2
b    3
c    5
d    7
e    5
f    8
g    3
h    9
i    8
dtype: int64

In [4]:
#deleting values
ser.drop(['c', 'g'])
ser

a    2
b    3
c    5
d    7
e    5
f    8
g    3
h    9
i    8
dtype: int64

In [5]:
#duplicate values deletion
#give new series
ser.drop_duplicates() #duplicate values deleted first is kept
ser.drop_duplicates(keep= 'last') #duplicate values deleted and last is kept
# ser.drop_duplicates(keep= 'last', inplace= True), make changes in same series

a    2
d    7
e    5
g    3
h    9
i    8
dtype: int64

In [6]:
ser.head(3) #give 1st 3 values of series, by default give 5 values
ser.tail(3) #give last 3 values of series, by default give 5 values

g    3
h    9
i    8
dtype: int64

In [7]:
#return true for values in given list
ser.isin([3,8,5])

a    False
b     True
c     True
d    False
e     True
f     True
g     True
h    False
i     True
dtype: bool

In [8]:
#creating neew series with different labels and same values
ser.rename(lambda x: x*2)

aa    2
bb    3
cc    5
dd    7
ee    5
ff    8
gg    3
hh    9
ii    8
dtype: int64

In [9]:
#giving name to series
ser.rename("My Series", inplace= True)
ser.name

'My Series'

In [10]:
#pick random elements from series
ser.sample(n=3) #it will always pick different elements whenever you will run this 
ser.sample(n=3, random_state= 1) #it will pick same random elements whenever we run this

i    8
c    5
g    3
Name: My Series, dtype: int64

In [11]:
#where and mask
bl= ser.ne(3)
ser.where(bl,9) #change value to 9 where bl is False
ser.mask(bl,9)  #change value to 9 where bl is True

a    9
b    3
c    9
d    9
e    9
f    9
g    3
h    9
i    9
Name: My Series, dtype: int64

In [15]:
#combine
#combining to series to get 1 series
ser1= pd.Series([2, 4, 6, 3, 8, 9, 3, 2, 5], index=list("abcdefghi"))
print(ser, ser1)
ser.combine(ser1, max)

a    2
b    3
c    5
d    7
e    5
f    8
g    3
h    9
i    8
Name: My Series, dtype: int64 a    2
b    4
c    6
d    3
e    8
f    9
g    3
h    2
i    5
dtype: int64

a    2
b    4
c    6
d    7
e    8
f    9
g    3
h    9
i    8
dtype: int64

In [16]:
#counting values
ser.value_counts()

3    2
5    2
8    2
2    1
7    1
9    1
Name: My Series, dtype: int64

In [18]:
#sorting
ser.sort_values(ascending= False) #using inplace=True values will be sorted in same series

h    9
f    8
i    8
d    7
c    5
e    5
b    3
g    3
a    2
Name: My Series, dtype: int64

In [19]:
#repeating series
ser.repeat(repeats=2)

a    2
a    2
b    3
b    3
c    5
c    5
d    7
d    7
e    5
e    5
f    8
f    8
g    3
g    3
h    9
h    9
i    8
i    8
Name: My Series, dtype: int64

In [21]:
#update
#replace elements of 1 series with another where indexes are same
ser2= pd.Series([2,3,4], index= list("adi"))
ser.update(ser2)

In [28]:
#concate
pd.concat([ser, ser2])
#concat horizontally and create a dataframe
pd.concat([ser, ser1], axis=1)

   My Series  0
a          2  2
b          3  4
c          5  6
d          3  3
e          5  8
f          8  9
g          3  3
h          9  2
i          4  5